openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V3 Entity API
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.'
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
tags:
- name: Entity
paths:
  /entity:
    get:
      tags:
      - Entity
      summary: Search for entity records
      description: The entity resource allows you to search for records based on certain criteria. Search parameters must be specified as a querystring. See supplemental documentation for available search parameters and rules.
      parameters:
      - name: validid
        in: query
        description: Entity identifier (e.g., validid=uwhr=123456789)
        schema:
          type: string
          format: string
      - name: studentid
        in: query
        description: Student number
        schema:
          type: string
          format: string
      - name: lname
        in: query
        description: Primary last name
        schema:
          type: string
          format: string
      - name: regid
        in: query
        description: Registry identifier
        schema:
          type: string
          format: string
      - name: uwnetid
        in: query
        description: UW Network identifier (e.g., uwnetid=jsimpson)
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: An array of search results. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySearchResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getEntity
      x-operation-id-source: derived
  /entity/{validid}/{source_code}:
    get:
      tags:
      - Entity
      summary: Query entity record
      description: The entity resource allows you to retrieve an entity record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Entity record. Schema contains list of the basic possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getEntityByValididBySourceCode
      x-operation-id-source: derived
    put:
      tags:
      - Entity
      summary: Create entity record
      description: The entity resource allows you to create a new source record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityPutPostPayload'
        required: true
      responses:
        '200':
          description: Entity resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: putEntityByValididBySourceCode
      x-operation-id-source: derived
    post:
      tags:
      - Entity
      summary: Update entity record
      description: The entity resource allows you to update an existing source record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityPutPostPayload'
        required: true
      responses:
        '200':
          description: Entity resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: postEntityByValididBySourceCode
      x-operation-id-source: derived
    delete:
      tags:
      - Entity
      summary: Delete entity record
      description: The entity resource allows you to delete an existing source record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Entity resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: deleteEntityByValididBySourceCode
      x-operation-id-source: derived
components:
  schemas:
    EntityDeletePutPostResult:
      type: object
      properties:
        entity:
          type: array
          description: Response to DELETE/PUT/POST
          items:
            type: object
            properties:
              count:
                type: string
                description: Number of records affected
              message:
                type: string
                description: Result of operation (usually 'record inserted' or 'record updated')
    EntitySearchResult:
      type: object
      properties:
        entity:
          type: array
          description: Array of entity search objects
          items:
            type: object
            properties:
              regid:
                type: string
                description: Registry identifier
              lname:
                type: string
                description: Primary last name
              fname:
                type: string
                description: Primary first name
              mname:
                type: string
                description: Primary middle name
              identifiers:
                type: object
                properties:
                  uwhr:
                    type: string
                    description: Uwhr source URL
                  sdb:
                    type: string
                    description: Sdb source URL
                  clinician:
                    type: string
                    description: Clinician source URL
                  advance:
                    type: string
                    description: Advance source URL
                description: List of source records for this entity and associated URLs. Note that not all available sources are shown.  See supplemental documentation for a complete list of sources.
        totalcount:
          type: string
          description: Number of entity search objects returned
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    EntityPutPostPayload:
      type: object
      properties:
        entity:
          type: object
          description: Entity object.  See supplemental docs for exact attributes.
          properties:
            validid:
              type: string
              description: Entity identifier
            studentid:
              type: string
              description: Student number
            ssn:
              type: string
              description: Social security number
            lname:
              type: string
              description: Primary last Name
            fname:
              type: string
              description: Primary first Name
            mname:
              type: string
              description: Primary middle Name
            sec_lname:
              type: string
              description: Secondary last Name
            sec_fname:
              type: string
              description: Secondary first Name
            sec_mname:
              type: string
              description: Secondary middle Name
            birthdate:
              type: string
              description: Date of birth
            status_code:
              type: string
              description: Status code
      description: Note that the entity object can also be presented as an array of exactly one object.
    EntityGetResult:
      type: object
      properties:
        entity:
          type: array
          description: Array of entity objects
          items:
            type: object
            properties:
              validid:
                type: string
                description: Entity identifier
              regid:
                type: string
                description: Registry identifier
              priorid:
                type: string
                description: Prior entity identifier
              ssn:
                type: string
                description: Social security number
              studentid:
                type: string
                description: Student number
              lname:
                type: string
                description: Primary last name
              fname:
                type: string
                description: Primary first name
              mname:
                type: string
                description: Primary middle name
              sec_lname:
                type: string
                description: Secondary last name
              sec_fname:
                type: string
                description: Secondary first name
              sec_mname:
                type: string
                description: Secondary middle name
              birthdate:
                type: string
                description: Date of birth
              pac:
                type: string
                description: Private access code indicator
              source_code:
                type: string
                description: Source code
              source_name:
                type: string
                description: Source name
              status_code:
                type: string
                description: Status code
              status_name:
                type: string
                description: Status name
              in_feed:
                type: string
                description: In-feed indicator
              logname:
                type: string
                description: Last change author
              created:
                type: string
                description: Record created date
              updated:
                type: string
                description: Record last updated date
        totalcount:
          type: string
          description: Number of entity objects returned
      description: Note that the entity object described here documents all possible basic attributes for all sources. See supplemental documentation for all possible attributes for each source.
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
