openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V3 Account.mail…
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.'
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
tags:
- name: account.mail
paths:
  /account.mail/{uwnetid}/{subscription_code}:
    get:
      tags:
      - account.mail
      summary: Query mail forwarding records
      description: The account.mail resource allows you to retrieve mail forwarding records for an account.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number (105|106|107)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Mail forwarding record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMailGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getAccountMailByUwnetidBySubscriptionCode
      x-operation-id-source: derived
    post:
      tags:
      - account.mail
      summary: Set mail forwarding records
      description: The account.mail resource allows you to set the mail forwarding records for an account.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code Number (105|106|107)
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AccountMailPostPayload'
        required: true
      responses:
        '200':
          description: Subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMailPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: postAccountMailByUwnetidBySubscriptionCode
      x-operation-id-source: derived
    delete:
      tags:
      - account.mail
      summary: Delete mail forwarding records
      description: The account.subscription resource allows you to delete existing mail forwarding records for an account.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code Number (105|106|107)
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMailDeleteResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: deleteAccountMailByUwnetidBySubscriptionCode
      x-operation-id-source: derived
components:
  schemas:
    AccountMailGetResult:
      type: object
      properties:
        account.mail:
          type: array
          description: Array of account.mail objects
          items:
            type: object
            properties:
              uwnetid:
                type: string
                description: UW Network identifier
              subscription_code:
                type: string
                description: Subscription code
              subscription_name:
                type: string
                description: Subscription name
              address:
                type: string
                description: Mail forwarding address
              post_url:
                type: string
                description: URL to post update
        totalcount:
          type: string
          description: Number of account.mail objects returned
      description: Note that the account.mail object described here documents all possible attributes.  Not all attributes will be returned for all records.
    AccountMailDeleteResult:
      type: object
      properties:
        account.mail:
          type: array
          description: Response to DELETE
          items:
            type: object
            properties:
              message:
                type: string
                description: Response message (usually 'mail forwarding set')
    AccountMailPostResult:
      type: object
      properties:
        account.mail:
          type: array
          description: Response to POST
          items:
            type: object
            properties:
              address:
                type: string
                description: Mail forwarding address
              message:
                type: string
                description: Result of operation (usually 'mail forwarding set')
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    AccountMailPostPayload:
      type: object
      properties:
        account.mail:
          type: object
          description: Account.mail object.  See reference docs for exact attributes.
          properties:
            uwnetid:
              type: string
              description: UW Network identifier
            subscription_code:
              type: string
              description: Subscription code
            address:
              type: string
              description: Mail forwarding address
      description: Note that the account.mail object can also be presented as an array of exactly one object.
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
