openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V2 Social API
  description: This is the API specification for V2 of the UW-IT Identity Registry Rest API. Note that there are header and querystring paramemters not documentered here--they can be found in the main API documentation at https://wiki.cac.washington.edu/x/H5lNB. The -type and -pretty querystring parameters are included here for GET requests since they make testing much easier.
  version: '2'
servers:
- url: https://mango.u.washington.edu:646/registry/v2
tags:
- name: Social
paths:
  /social/{recordidentifier}/{identifier}:
    put:
      tags:
      - Social
      summary: The social identifier endpoint allows you to read, create, and update social…
      description: You can register a social identity from Google or Facebook through IRWS. You obtain your user's data from their social login, and must submit it to the registry to receive a response. If the data you submit is different from the existing data, the existing data will be overwritten.
      parameters:
      - name: recordidentifier
        in: path
        description: Social identity provider.  Allowed values are 'facebook' or 'google'
        required: true
        schema:
          type: string
          format: string
      - name: identifier
        in: path
        description: Unique identifier from social identity provider.  Must be URL encoded if appropriate
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      requestBody:
        description: JSON payload containing social login data
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SocialQuery'
        required: true
      responses:
        '200':
          description: Social Identity query results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialResult'
      x-codegen-request-body-name: payload
      operationId: putSocialByRecordidentifierByIdentifier
      x-operation-id-source: derived
components:
  schemas:
    SocialResult:
      type: object
      properties:
        social:
          type: array
          description: ''
          items:
            type: object
            properties:
              validid:
                type: string
                description: 'Unique identifier from social identity provider.  Must match validid defined in URL.  Must be URL encoded if appropriate.  '
              fname:
                type: string
                description: First Name
              lname:
                type: string
                description: Last Name
              display_name:
                type: string
                description: Display Name
              contact_email:
                type: string
                description: Contact Email
              regid:
                type: string
                description: ''
              pac:
                type: string
                description: ''
              category_code:
                type: string
                description: ''
              category_name:
                type: string
                description: ''
              source_code:
                type: string
                description: ''
              source_name:
                type: string
                description: ''
              status_code:
                type: string
                description: ''
              status_name:
                type: string
                description: ''
              in_feed:
                type: string
                description: ''
              logname:
                type: string
                description: ''
              created:
                type: string
                description: ''
              updated:
                type: string
                description: ''
            description: ''
        totalcount:
          type: integer
          description: Number of records affected
    SocialQuery:
      type: object
      properties:
        social:
          type: array
          description: test
          items:
            required:
            - display_name
            - fname
            - lname
            type: object
            properties:
              validid:
                type: string
                description: 'Unique identifier from social identity provider.  Must match validid defined in URL.  Must be URL encoded if appropriate.  '
              fname:
                type: string
                description: First Name
              lname:
                type: string
                description: Last Name
              display_name:
                type: string
                description: Display Name
              contact_email:
                type: string
                description: Contact Email
            description: test
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V2 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv2/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv2/irwsv2.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v2.yaml
