openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V3 Entity.verify…
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.'
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
tags:
- name: entity.verify
paths:
  /entity.verify/{validid}/{verify_code}/{source_code}/{instance}:
    get:
      tags:
      - entity.verify
      summary: Query verifier records
      description: The entity.verify resource allows you to retrieve verifier records.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: verify_code
        in: path
        description: Verify Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Verifier record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityVerifyGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getEntityVerifyByValididByVerifyCodeBySourceCodeByInstance
      x-operation-id-source: derived
    put:
      tags:
      - entity.verify
      summary: Create verifier record
      description: The entity.verify resource allows you to create a new verifier record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: verify_code
        in: path
        description: Verify Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number (optional)
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityVerifyPutPostPayload'
        required: true
      responses:
        '200':
          description: Entity.verify resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityVerifyDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: putEntityVerifyByValididByVerifyCodeBySourceCodeByInstance
      x-operation-id-source: derived
    post:
      tags:
      - entity.verify
      summary: Update verifier record
      description: The entity resource allows you to update an existing verifier record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: verify_code
        in: path
        description: Verify Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number (optional)
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityVerifyPutPostPayload'
        required: true
      responses:
        '200':
          description: Entity.verify resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityVerifyDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: postEntityVerifyByValididByVerifyCodeBySourceCodeByInstance
      x-operation-id-source: derived
    delete:
      tags:
      - entity.verify
      summary: Delete verifier record
      description: The entity.verify resource allows you to delete an existing verifier record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: verify_code
        in: path
        description: Verify Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number (optional)
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Entity.verify resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: deleteEntityVerifyByValididByVerifyCodeBySourceCodeByInstance
      x-operation-id-source: derived
components:
  schemas:
    EntityDeletePutPostResult:
      type: object
      properties:
        entity:
          type: array
          description: Response to DELETE/PUT/POST
          items:
            type: object
            properties:
              count:
                type: string
                description: Number of records affected
              message:
                type: string
                description: Result of operation (usually 'record inserted' or 'record updated')
    EntityVerifyDeletePutPostResult:
      type: object
      properties:
        entity.verify:
          type: array
          description: Response to DELETE/PUT/POST
          items:
            type: object
            properties:
              count:
                type: string
                description: Number of records affected
              message:
                type: string
                description: Result of operation (usually 'record inserted' or 'record updated')
    EntityVerifyPutPostPayload:
      type: object
      properties:
        entity.verify:
          type: object
          description: Entity.verify object.  See supplemental docs for exact attributes.
          properties:
            validid:
              type: string
              description: Entity identifier
            verify_code:
              type: string
              description: Verify code
            verify_data:
              type: string
              description: Verify data
              format: email
            source_code:
              type: string
              description: Source code
            instance:
              type: string
              description: Instance number
      description: Note that the entity.verify object can also be presented as an array of exactly one object.
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    EntityVerifyGetResult:
      type: object
      properties:
        entity.verify:
          type: array
          description: Array of entity.verify objects
          items:
            type: object
            properties:
              validid:
                type: string
                description: Entity identifier
              verify_code:
                type: string
                description: Verify code
              verify_name:
                type: string
                description: Verify name
              verify_data:
                type: string
                description: Verify data
              source_code:
                type: string
                description: Source code
              source_name:
                type: string
                description: Source name
              instance:
                type: string
                description: Instance number
        totalcount:
          type: string
          description: Number of entity.verify objects returned
      description: Note that the entity.verify object described here documents all possible attributes.  Not all attributes will be returned for all records.
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
