openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V3…
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.'
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
tags:
- name: entity.canonical
paths:
  /entity.canonical/{validid}:
    get:
      tags:
      - entity.canonical
      summary: Query entity contents
      description: The entity.canonical resource allows you to retrieve data about an entity.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Canonical entity record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCanonicalGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getEntityCanonicalByValidid
      x-operation-id-source: derived
components:
  schemas:
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    EntityCanonicalGetResult:
      type: object
      properties:
        entity.canonical:
          type: array
          description: Array of entity.canonical objects
          items:
            type: object
            properties:
              regids:
                type: array
                description: List of regids
                items:
                  type: object
                  properties:
                    regid:
                      type: string
                      description: Registry identifier
                    entity_code:
                      type: string
                      description: Entity code
                    entity_name:
                      type: string
                      description: Entity name
                    test:
                      type: string
                      description: Test indicator
                    status_code:
                      type: string
                      description: Status code
                    status_name:
                      type: string
                      description: Status name
              sources:
                type: array
                description: List of sources
                items:
                  type: object
                  properties:
                    validid:
                      type: string
                      description: Entity identifier
                    priorid:
                      type: string
                      description: Prior entity identifier
                    lname:
                      type: string
                      description: Primary last name
                    fname:
                      type: string
                      description: Primary first name
                    mname:
                      type: string
                      description: Primary middle name
                    sec_lname:
                      type: string
                      description: Secondary last name
                    sec_fname:
                      type: string
                      description: Secondary first name
                    sec_mname:
                      type: string
                      description: Secondary middle name
                    birthdate:
                      type: string
                      description: Date of birth
                    ssn:
                      type: string
                      description: Social security number
                    studentid:
                      type: string
                      description: Student number
                    pac:
                      type: string
                      description: Private access code indicator
                    expiration:
                      type: string
                      description: Record expiration date
                    comment_code:
                      type: string
                      description: Comment code
                    comment_name:
                      type: string
                      description: Comment name
                    source_code:
                      type: string
                      description: Source code
                    source_name:
                      type: string
                      description: Source name
                    status_code:
                      type: string
                      description: Status code
                    status_name:
                      type: string
                      description: Status name
                    in_feed:
                      type: string
                      description: In-feed indicator
                    created:
                      type: string
                      description: Record created date
                    updated:
                      type: string
                      description: Record last updated date
              affiliations:
                type: array
                description: List of affiliations
                items:
                  type: object
                  properties:
                    affiliation_code:
                      type: string
                      description: Affiliation code
                    affiliation_name:
                      type: string
                      description: Affiliation name
              categories:
                type: array
                description: List of categories
                items:
                  type: object
                  properties:
                    category_code:
                      type: string
                      description: Category code
                    category_name:
                      type: string
                      description: Category name
                    source_code:
                      type: string
                      description: Source code
                    source_name:
                      type: string
                      description: Source name
                    status_code:
                      type: string
                      description: Status code
                    status_name:
                      type: string
                      description: Status name
                    expiration:
                      type: string
                      description: Expiration date
                    instance:
                      type: string
                      description: Instance number
              sponsors:
                type: array
                description: List of sponsors
                items:
                  type: object
                  properties:
                    uwnetid:
                      type: string
                      description: UW Network identifier
              uwnetids:
                type: array
                description: List of uwnetids
                items:
                  type: object
                  properties:
                    uwnetid:
                      type: string
                      description: UW Network identifier
                    uid:
                      type: string
                      description: Unix identification number
                    disenfran:
                      type: string
                      description: Disenfranchise indicator
                    netid_code:
                      type: string
                      description: Netid code
                    netid_name:
                      type: string
                      description: Netid name
                    status_code:
                      type: string
                      description: Status code
                    status_name:
                      type: string
                      description: Status name
              verifiers:
                type: array
                description: List of verifiers
                items:
                  type: object
                  properties:
                    verify_code:
                      type: string
                      description: Verify code
                    verify_name:
                      type: string
                      description: Verify name
                    verify_data:
                      type: string
                      description: Verify data
                    source_code:
                      type: string
                      description: Source code
                    source_name:
                      type: string
                      description: Source name
                    instance:
                      type: string
                      description: Instance number
        totalcount:
          type: string
          description: Number of entity.canonical objects returned
      description: Note that the entity.canonical object described here documents all possible attributes.  Not all attributes will be returned for all records.
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
