openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V3…
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.'
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
tags:
- name: account.subscription
paths:
  /account.subscription/{uwnetid}/{subscription_code}:
    get:
      tags:
      - account.subscription
      summary: Query subscription records
      description: The account.subscription resource allows you to retrieve subscription records.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Subscription record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getAccountSubscriptionByUwnetidBySubscriptionCode
      x-operation-id-source: derived
    put:
      tags:
      - account.subscription
      summary: Create subscription record
      description: The account.subscription resource allows you to create a new subscription record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AccountSubscriptionPutPostPayload'
        required: true
      responses:
        '200':
          description: Subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: putAccountSubscriptionByUwnetidBySubscriptionCode
      x-operation-id-source: derived
    post:
      tags:
      - account.subscription
      summary: Update subscription record
      description: The account.subscription resource allows you to update an existing subscription record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code Number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AccountSubscriptionPutPostPayload'
        required: true
      responses:
        '200':
          description: Subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: postAccountSubscriptionByUwnetidBySubscriptionCode
      x-operation-id-source: derived
    delete:
      tags:
      - account.subscription
      summary: Delete subscription record
      description: The account.subscription resource allows you to delete an existing subscription record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code Number
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: deleteAccountSubscriptionByUwnetidBySubscriptionCode
      x-operation-id-source: derived
components:
  schemas:
    AccountSubscriptionGetResult:
      type: object
      properties:
        account.subscription:
          type: array
          description: Array of account.subscription objects
          items:
            type: object
            properties:
              uwnetid:
                type: string
                description: UW Network identifier
              subscription_code:
                type: string
                description: Subscription code
              subscription_name:
                type: string
                description: Subscription name
              subscription_data:
                type: string
                description: Subscription data
              pac:
                type: string
                description: Private access code indicator (E=expired; P=permanent; Y=one-time)
              notify_code:
                type: string
                description: Notification code
              notify_date:
                type: string
                description: Notification date
              status_code:
                type: string
                description: Status code
              status_name:
                type: string
                description: Status name
              logname:
                type: string
                description: Last change author
              created:
                type: string
                description: Record created date
              updated:
                type: string
                description: Record last updated date
              post_url:
                type: string
                description: URL to post update
        totalcount:
          type: string
          description: Number of account.subscription objects returned
      description: Note that the account.subscription object described here documents all possible attributes.  Not all attributes will be returned for all records.
    AccountSubscriptionDeletePutPostResult:
      type: object
      properties:
        account.subscription:
          type: array
          description: Response to DELETE/PUT/POST
          items:
            type: object
            properties:
              count:
                type: string
                description: Number of records affected
              message:
                type: string
                description: Result of operation (usually 'record inserted' or 'record updated')
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    AccountSubscriptionPutPostPayload:
      type: object
      properties:
        account.subscription:
          type: object
          description: Account.subscription object.  See reference docs for exact attributes.
          properties:
            uwnetid:
              type: string
              description: UW Network identifier
            subscription_code:
              type: string
              description: Subscription code
            subscription_data:
              type: string
              description: Subscription data
            notify_code:
              type: string
              description: Notification code
            status_code:
              type: string
              description: Status code
      description: Note that the account.subscription object can also be presented as an array of exactly one object.
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
