openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V3…
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.'
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
tags:
- name: reference.subscription.rule
paths:
  /reference.subscription.rule/{subscription_code}/{instance}/{uwnetid}:
    get:
      tags:
      - reference.subscription.rule
      summary: Query subscription rule records
      description: The reference.subscription.rule resource allows you to retrieve subscription rule records.
      parameters:
      - name: subscription_code
        in: path
        description: Subscription Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: uwnetid
        in: path
        description: UW Network identifier (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Subscription rule record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceSubscriptionRuleGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getReferenceSubscriptionRuleBySubscriptionCodeByInstanceByUwnetid
      x-operation-id-source: derived
    put:
      tags:
      - reference.subscription.rule
      summary: Create subscription rule record
      description: The reference.subscription.rule resource allows you to create a new subscription rule record.
      parameters:
      - name: subscription_code
        in: path
        description: Subscription Code number
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number
        required: true
        schema:
          type: string
          format: string
      - name: uwnetid
        in: path
        description: UW Network identifier (optional)
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ReferenceSubscriptionRulePutPostPayload'
        required: true
      responses:
        '200':
          description: Subscription rule resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceSubscriptionRuleDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: putReferenceSubscriptionRuleBySubscriptionCodeByInstanceByUwnetid
      x-operation-id-source: derived
    post:
      tags:
      - reference.subscription.rule
      summary: Update subscription rule record
      description: The reference.subscription.rule resource allows you to update an existing subscription rule record.
      parameters:
      - name: subscription_code
        in: path
        description: Subscription Code number
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number
        required: true
        schema:
          type: string
          format: string
      - name: uwnetid
        in: path
        description: UW Network identifier (optional)
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ReferenceSubscriptionRulePutPostPayload'
        required: true
      responses:
        '200':
          description: Subscription rule resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceSubscriptionRuleDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: postReferenceSubscriptionRuleBySubscriptionCodeByInstanceByUwnetid
      x-operation-id-source: derived
    delete:
      tags:
      - reference.subscription.rule
      summary: Delete subscription rule record
      description: The reference.subscription.rule resource allows you to delete an existing subscription rule record.
      parameters:
      - name: subscription_code
        in: path
        description: Subscription Code number
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number
        required: true
        schema:
          type: string
          format: string
      - name: uwnetid
        in: path
        description: UW Network identifier (optional)
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Subscription rule resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceSubscriptionRuleDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: deleteReferenceSubscriptionRuleBySubscriptionCodeByInstanceByUwnetid
      x-operation-id-source: derived
components:
  schemas:
    ReferenceSubscriptionRuleGetResult:
      type: object
      properties:
        account.subscription.rule:
          type: array
          description: Array of account.subscription.rule objects
          items:
            type: object
            properties:
              uwnetid:
                type: string
                description: UW Network identifier
              subscription_code:
                type: string
                description: Subscription code
              subscription_name:
                type: string
                description: Subscription name
              subscription_data:
                type: string
                description: Subscription data
              deny:
                type: string
                description: Deny rule indicator
              instance:
                type: string
                description: Instance number
              expiration:
                type: string
                description: Expiration date
              notifyid:
                type: string
                description: Notification identifier
              rule:
                type: string
                description: Evaluation rule
              result:
                type: string
                description: Result of evaluated rule
              logname:
                type: string
                description: Last change author
              created:
                type: string
                description: Record created date
              updated:
                type: string
                description: Record last updated date
              post_url:
                type: string
                description: URL to post update
        totalcount:
          type: string
          description: Number of account.subscription.rule objects returned
      description: Note that the account.subscription.rule object described here documents all possible attributes.  Not all attributes will be returned for all records.
    ReferenceSubscriptionRulePutPostPayload:
      type: object
      properties:
        reference.subscription.rule:
          type: object
          description: Reference.subscription.rule object.  See supplemental docs for exact attributes.
          properties:
            uwnetid:
              type: string
              description: UW Network identifier
            subscription_code:
              type: string
              description: Subscription code
            deny:
              type: string
              description: Deny rule indicator
            instance:
              type: string
              description: Instance number
            rule:
              type: string
              description: Evaluation rule
      description: Note that the account.subscription.rule object can also be presented as an array of exactly one object.
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    ReferenceSubscriptionRuleDeletePutPostResult:
      type: object
      properties:
        account.subscription.rule:
          type: array
          description: Response to DELETE/PUT/POST
          items:
            type: object
            properties:
              count:
                type: string
                description: Number of records affected
              message:
                type: string
                description: Result of operation (usually 'record inserted' or 'record updated')
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
