openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V3 Entity.name…
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.'
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
tags:
- name: entity.name
paths:
  /entity.name/{validid}:
    get:
      tags:
      - entity.name
      summary: Query entity profile names (deprecated)
      description: The entity.name resource is deprecated. See entity.profile.name.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Name create/update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityProfileNameGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getEntityNameByValidid
      x-operation-id-source: derived
    post:
      tags:
      - entity.name
      summary: Update entity profile names (deprecated)
      description: The entity.name resource is deprecated. See entity.profile.name.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityProfileNamePostPayload'
        required: true
      responses:
        '200':
          description: Name resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityProfileNamePostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: postEntityNameByValidid
      x-operation-id-source: derived
components:
  schemas:
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    EntityProfileNamePostResult:
      type: object
      properties:
        entity.profile.name:
          type: array
          description: Response to POST
          items:
            type: object
            properties:
              count:
                type: string
                description: Number of records affected
              message:
                type: string
                description: Result of operation (usually 'name set')
    EntityProfileNameGetResult:
      type: object
      properties:
        entity.profile.name:
          type: array
          description: Array of entity.profile.name objects
          items:
            type: object
            properties:
              validid:
                type: string
                description: Entity identifier
              legal_name:
                type: string
                description: Concatenated legal name
              legal_fname:
                type: string
                description: Legal first name
              legal_lname:
                type: string
                description: Legal last name
              legal_mname:
                type: string
                description: Legal middle name
              registered_name:
                type: string
                description: Concatenated registered name
              registered_fname:
                type: string
                description: Registered first name
              registered_lname:
                type: string
                description: Registered last name
              registered_mname:
                type: string
                description: Registered middle name
              preferred_name:
                type: string
                description: Concatenated preferred name
              preferred_fname:
                type: string
                description: Preferred first name
              preferred_lname:
                type: string
                description: Preferred last name
              preferred_mname:
                type: string
                description: Preferred middle name
              preferred_nname:
                type: string
                description: Preferred nick-name
              preferred_suffix:
                type: string
                description: Preferred suffix
              preferred_title:
                type: string
                description: Preferred title
              preferred_privacy:
                type: string
                description: Privacy indicator for preferred name
              display_name:
                type: string
                description: Concatenated display name
              display_fname:
                type: string
                description: Display first name
              display_lname:
                type: string
                description: Display last name
              display_mname:
                type: string
                description: Display middle name
              display_nname:
                type: string
                description: Display nick-name
              display_suffix:
                type: string
                description: Display suffix
              display_title:
                type: string
                description: Display title
              logname:
                type: string
                description: Last change author
              updated:
                type: string
                description: Record last updated date
              post_url:
                type: string
                description: URL to post update
        totalcount:
          type: integer
          description: Number of entity.profile.name objects returned
    EntityProfileNamePostPayload:
      type: object
      properties:
        entity.profile.name:
          type: object
          description: Entity.profile.name object.  See supplemental docs for exact attributes.
          properties:
            validid:
              type: string
              description: Entity identifier
            legal_fname:
              type: string
              description: Legal first name
            legal_lname:
              type: string
              description: Legal last name
            legal_mname:
              type: string
              description: Legal middle name
            preferred_fname:
              type: string
              description: Preferred first name
            preferred_lname:
              type: string
              description: Preferred last name
            preferred_mname:
              type: string
              description: Preferred middle name
            preferred_nname:
              type: string
              description: Preferred nick-name
            preferred_suffix:
              type: string
              description: Preferred suffix
            preferred_title:
              type: string
              description: Preferred title
            preferred_privacy:
              type: string
              description: Privacy indicator for preferred name
      description: Note that the entity.profile.name object can also be presented as an array of exactly one object.
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
