openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V3…
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.'
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
tags:
- name: account.history
paths:
  /account.history/{uwnetid}/{netid_code}:
    get:
      tags:
      - account.history
      summary: Query historical account records
      description: The account.history resource allows you to retrieve historical account records.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: netid_code
        in: path
        description: Netid code (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Account history record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHistoryGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getAccountHistoryByUwnetidByNetidCode
      x-operation-id-source: derived
components:
  schemas:
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    AccountHistoryGetResult:
      type: object
      properties:
        account.history:
          type: array
          description: Array of account.history objects
          items:
            type: object
            properties:
              uwnetid:
                type: string
                description: UW Network identifier
              accid:
                type: string
                description: Account identifier
              validid:
                type: string
                description: Entity identifier
              uid:
                type: string
                description: UID
              account:
                type: string
                description: Account name
              disenfran:
                type: string
                description: Disenfranchise indicator
              netid_code:
                type: string
                description: Code for UW NetID type
              netid_name:
                type: string
                description: UW NetID Type
              status_code:
                type: string
                description: Status of account record
              status_name:
                type: string
                description: Status of account record
              logname:
                type: string
                description: Change author
              updated:
                type: string
                description: Record change date
        totalcount:
          type: string
          description: Number of account.history objects returned
      description: Note that the account.history object described here documents all possible attributes.  Not all attributes will be returned for all records.
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
