openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V3…
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.'
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
tags:
- name: entity.sponsor
paths:
  /entity.sponsor/{validid}/{sponsorid}:
    get:
      tags:
      - entity.sponsor
      summary: Query sponsorships
      description: The entity.sponsor resource allows you to retrieve data about sponsorships.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: sponsorid
        in: path
        description: Sponsor identifier
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Sponsorship record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySponsorGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getEntitySponsorByValididBySponsorid
      x-operation-id-source: derived
    put:
      tags:
      - entity.sponsor
      summary: Create sponsorship record
      description: The entity.sponsor resource allows you to create a new sponsorship record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: sponsorid
        in: path
        description: Sponsor identifier
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntitySponsorPutPostPayload'
        required: true
      responses:
        '200':
          description: Entity.category resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySponsorDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: putEntitySponsorByValididBySponsorid
      x-operation-id-source: derived
    post:
      tags:
      - entity.sponsor
      summary: Update sponsorship record
      description: The entity resource allows you to update an existing sponsorship record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: sponsorid
        in: path
        description: Sponsor identifier
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntitySponsorPutPostPayload'
        required: true
      responses:
        '200':
          description: Entity.category resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySponsorDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: postEntitySponsorByValididBySponsorid
      x-operation-id-source: derived
    delete:
      tags:
      - entity.sponsor
      summary: Delete sponsorship record
      description: The entity.sponsor resource allows you to delete an existing sponsorship record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: sponsorid
        in: path
        description: Sponsor identifier
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Entity.sponsor resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySponsorDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: deleteEntitySponsorByValididBySponsorid
      x-operation-id-source: derived
components:
  schemas:
    EntitySponsorDeletePutPostResult:
      type: object
      properties:
        entity.sponsor:
          type: array
          description: Response to DELETE/PUT/POST
          items:
            type: object
            properties:
              count:
                type: string
                description: Number of records affected
              message:
                type: string
                description: Result of operation (usually 'record inserted' or 'record updated')
    EntitySponsorGetResult:
      type: object
      properties:
        entity.sponsor:
          type: array
          description: 'Array of entity.sponsor objects.  Note: Information pertains to sponsee.'
          items:
            type: object
            properties:
              validid:
                type: string
                description: Entity identifier
              sponsorid:
                type: string
                description: Sponsor's entity identifier
              category_code:
                type: string
                description: Category code
              category_name:
                type: string
                description: Category name
              status_code:
                type: string
                description: Status code
              status_name:
                type: string
                description: Status name
              logname:
                type: string
                description: Log name
              created:
                type: string
                description: timestamp of create event
              updated:
                type: string
                description: timestamp of updated event
              post_url:
                type: string
                description: Post back url
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    EntitySponsorPutPostPayload:
      type: object
      properties:
        entity.sponsor:
          type: object
          description: Entity.sponsor object.  See supplemental docs for exact attributes.
          properties:
            validid:
              type: string
              description: Entity identifier
            sponsorid:
              type: string
              description: Sponsor's entity identifier
            category_code:
              type: string
              description: Category code
            category_name:
              type: string
              description: Category name - ignored
            status_code:
              type: string
              description: Status code
            status_name:
              type: string
              description: Status name -ignored
            logname:
              type: string
              description: Log name - ignored
            created:
              type: string
              description: timestamp of create event - ignored
            updated:
              type: string
              description: timestamp of updated event - ignored
            post_url:
              type: string
              description: Post back url - ignored
      description: Note that the entity.sponsor object can also be presented as an array of exactly one object.
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
