openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V3 Entity.pds API
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.'
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
tags:
- name: entity.pds
paths:
  /entity.pds/{validid}/:
    get:
      tags:
      - entity.pds
      summary: Query PDS record
      description: The entity.pds resource allows you to retrieve person directory information.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: PDS entry query results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityPdsGetResult'
        '301':
          description: Moved Permanently
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getEntityPdsByValidid
      x-operation-id-source: derived
components:
  schemas:
    EntityPdsGetResult:
      type: object
      properties:
        entity.pds:
          type: array
          description: Array of entity.pds objects
          items:
            type: object
            properties:
              regid:
                type: string
                description: Registry identifier
              entry:
                type: object
                properties:
                  objectclass:
                    type: array
                    description: Array of objectClass
                    items:
                      type: string
                      description: Object class that may contain top, uwEntity, uwPrincipal, uwPerson, uwEWPPerson, uwWPPerson, organizationalPerson, inetOrgPerson, eduPerson and others
                  serialNumber:
                    type: string
                    description: Serial Number
                  uwRegID:
                    type: string
                    description: UW RegID
                  uwTest:
                    type: string
                    description: UW Test
                  uwPriorRegID:
                    type: array
                    description: Array of Prior RegIDs
                    items:
                      type: string
                      description: Prior RegID
                  uwEmployeeID:
                    type: string
                    description: UW EmployeeID
                  uwPriorEmployeeID:
                    type: array
                    description: Array of Prior EmployeeIDs
                    items:
                      type: string
                      description: Prior EmployeeID
                  uwEmployeeHomeDepartment:
                    type: string
                    description: UW Employee Home Department
                  uwEmployeeMailstop:
                    type: string
                    description: UW Employee Mail Stop
                  uwEmployeeActive:
                    type: string
                    description: UW Employee Active Flag
                  uwEWPName:
                    type: string
                    description: UW EWP Name
                  uwEWPPosition:
                    type: array
                    description: Object class entries
                    items:
                      type: object
                      properties:
                        uwEWPDept:
                          type: string
                          description: UW EWP Department
                        uwEWPTitle:
                          type: string
                          description: UW EWP Title
                        primary:
                          type: string
                          description: Primary Position (Y/N)
                  uwEWPEmail:
                    type: array
                    description: Array of UW Email Addresses
                    items:
                      type: string
                      description: UW EWP Email
                  uwEWPPhone:
                    type: array
                    description: Array of UW Phone Numbers
                    items:
                      type: string
                      description: UW EWP Phone
                  uwEWPAddr:
                    type: array
                    description: Array of Employee White Pages Addresses
                    items:
                      type: string
                      description: EWP White Pages Address
                  uwEWPVoicemail:
                    type: array
                    description: Array of UW Voice Mails
                    items:
                      type: string
                      description: UW EWP Voice Mail
                  uwEWPTouchDial:
                    type: array
                    description: Array of UW Touch Dial Numbers
                    items:
                      type: string
                      description: UW EWP Touch Dial Number
                  uwEWPFacsilime:
                    type: array
                    description: Array of UW Facsimile Numbers
                    items:
                      type: string
                      description: UW EWP Facsimile Number
                  uwEWPMobile:
                    type: array
                    description: Array of UW Mobile Phone Numbers
                    items:
                      type: string
                      description: UW EWP Mobile Phone Number
                  uwEWPPager:
                    type: array
                    description: Array of UW Pager Numbers
                    items:
                      type: string
                      description: UW EWP Pager Number
                  uwEWPPublish:
                    type: string
                    description: UW EWP Publish
                  uwStudentSystemKey:
                    type: string
                    description: UW Student System Key
                  uwStudentID:
                    type: string
                    description: UW Student ID
                  uwPriorStudentSystemKey:
                    type: array
                    description: Array of Prior StudentSystemKeys
                    items:
                      type: string
                      description: Prior StudentSystemKey
                  uwStudentActive:
                    type: string
                    description: UW Student Active Flag
                  uwSWPName:
                    type: string
                    description: UW Student White Pages name
                  uwSWPMajor:
                    type: array
                    description: Array of Student Majors
                    items:
                      type: string
                      description: Student major
                  uwSWPClass:
                    type: string
                    description: UW Student White Pages Class
                  uwSWPEmail:
                    type: string
                    description: UW Student Email address
                  uwSWPPhone:
                    type: string
                    description: UW Student White Pages Phone Number
                  uwSWPAddr:
                    type: array
                    description: Array of Student White Pages Addresses
                    items:
                      type: string
                      description: SWP White Pages Address
                  uwSWPPublish:
                    type: string
                    description: UW SWP Publish
                  uwWPPublish:
                    type: string
                    description: UW White Pages Publish
                  uwDevelopmentID:
                    type: string
                    description: UW Development ID
                  uwPriorDevelopmentID:
                    type: array
                    description: Array of Prior DevelopmentIDs
                    items:
                      type: string
                      description: Prior DevelopmentID
                  uwDevelopmentActive:
                    type: string
                    description: UW Development Active Flag
                  displayName:
                    type: string
                    description: Display Name
                  uwPersonRegisteredName:
                    type: string
                    description: UW Person Registered Name
                  uwPersonRegisteredFirstMiddle:
                    type: string
                    description: UW Person Registered First Middle Name
                  uwPersonRegisteredSurname:
                    type: string
                    description: UW Person Registered Surname
                  cn:
                    type: string
                    description: Name
                  sn:
                    type: string
                    description: Surname
                  uwPersonPreferredName:
                    type: string
                    description: UW Person Preferred Name
                  uwPersonPreferredTitle:
                    type: string
                    description: UW Person Preferred Title
                  uwPersonPreferredNickName:
                    type: string
                    description: UW Person Preferred NickName
                  uwPersonPreferredFirst:
                    type: string
                    description: UW Person Preferred First Name
                  uwPersonPreferredMiddle:
                    type: string
                    description: UW Person Preferred Middle Name
                  uwPersonPreferredSurname:
                    type: string
                    description: UW Person Preferred Surname
                  uwPersonPreferredSuffix:
                    type: string
                    description: UW Person Preferred Suffix
                  uwPersonPronoun:
                    type: string
                    description: UW Person Pronoun
                  uwNetID:
                    type: string
                    description: UW NetID
                  uidNumber:
                    type: string
                    description: UID Number
                  uwPriorNetID:
                    type: array
                    description: Array of Prior UW NetIDs
                    items:
                      type: string
                      description: Prior UWNetID
                  eduPersonAffiliation:
                    type: array
                    description: Array of eduPersonAffiliations
                    items:
                      type: string
                      description: eduPerson affiliation may contain member, alum, staff, employee and other items
              status:
                type: string
                description: Publish status
        totalcount:
          type: string
          description: Number of entity.pds objects returned
      description: PDS entry results.  Not all attributes will be returned for all records.
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
