openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V3…
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.'
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
tags:
- name: entity.history
paths:
  /entity.history/{validid}/{source_code}:
    get:
      tags:
      - entity.history
      summary: Query historical entity records
      description: The entity.history resource allows you to retrieve historical entity records.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number  (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Entity history record. Schema contains list of the basic possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityHistoryGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getEntityHistoryByValididBySourceCode
      x-operation-id-source: derived
components:
  schemas:
    EntityHistoryGetResult:
      type: object
      properties:
        entity.history:
          type: array
          description: Array of entity.history objects
          items:
            type: object
            properties:
              validid:
                type: string
                description: Entity identifier
              regid:
                type: string
                description: Registry identifier
              priorid:
                type: string
                description: Prior entity identifier
              ssn:
                type: string
                description: Social security number
              studentid:
                type: string
                description: Student number
              lname:
                type: string
                description: Primary last name
              fname:
                type: string
                description: Primary first name
              mname:
                type: string
                description: Primary middle name
              sec_lname:
                type: string
                description: Secondary last name
              sec_fname:
                type: string
                description: Secondary first name
              sec_mname:
                type: string
                description: Secondary middle name
              birthdate:
                type: string
                description: Date of birth
              source_code:
                type: string
                description: Source code
              source_name:
                type: string
                description: Source name
              status_code:
                type: string
                description: Status code
              status_name:
                type: string
                description: Status name
              in_feed:
                type: string
                description: In-feed indicator
              logname:
                type: string
                description: Change author
              updated:
                type: string
                description: Record change date
        totalcount:
          type: string
          description: Number of entity.history objects returned
      description: Note that the entity.history object described here documents all possible basic attributes for all sources. See supplemental documentation for all possible attributes for each source.
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
