openapi: 3.2.0
info:
  title: Identity Registration Web Service REST API V2 D…
  description: This is the API specification for V2 of the UW-IT Identity Registry Rest API. Note that there are header and querystring paramemters not documentered here--they can be found in the main API documentation at https://wiki.cac.washington.edu/x/H5lNB. The -type and -pretty querystring parameters are included here for GET requests since they make testing much easier.
  version: '2'
servers:
- url: https://mango.u.washington.edu:646/registry/v2
tags:
- name: D_subscription.compat
paths:
  /d_subscription.compat/{uwnetid}/{subscription_code}/{category_code}/{status_code}:
    get:
      tags:
      - D_subscription.compat
      summary: Query d_subscription records
      description: The d_subscription.compat resource allows you to retrieve d_subscription records.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier (optional)
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: category_code
        in: path
        description: Category Code number (optional, requires status_code)
        required: true
        schema:
          type: string
          format: string
      - name: status_code
        in: path
        description: Status Code number (optional, requires category_code)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: D_subscription record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DsubscriptionCompatGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: getDSubscriptionCompatByUwnetidBySubscriptionCodeByCategoryCodeByStatusCode
      x-operation-id-source: derived
    put:
      tags:
      - D_subscription.compat
      summary: Create d_subscription record
      description: The d_subscription.compat resource allows you to create a new d_subscription record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier (optional)
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number
        required: true
        schema:
          type: string
          format: string
      - name: category_code
        in: path
        description: Category Code number
        required: true
        schema:
          type: string
          format: string
      - name: status_code
        in: path
        description: Status Code number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DsubscriptionCompatPutPostPayload'
        required: true
      responses:
        '200':
          description: D_subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DsubscriptionCompatDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: putDSubscriptionCompatByUwnetidBySubscriptionCodeByCategoryCodeByStatusCode
      x-operation-id-source: derived
    post:
      tags:
      - D_subscription.compat
      summary: Update d_subscription record
      description: The d_subscription.compat resource allows you to update an existing d_subscription record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier (optional)
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number
        required: true
        schema:
          type: string
          format: string
      - name: category_code
        in: path
        description: Category Code number
        required: true
        schema:
          type: string
          format: string
      - name: status_code
        in: path
        description: Status Code number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DsubscriptionCompatPutPostPayload'
        required: true
      responses:
        '200':
          description: D_subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DsubscriptionCompatDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
      operationId: postDSubscriptionCompatByUwnetidBySubscriptionCodeByCategoryCodeByStatusCode
      x-operation-id-source: derived
    delete:
      tags:
      - D_subscription.compat
      summary: Delete d_subscription record
      description: The d_subscription.compat resource allows you to delete an existing d_subscription record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier (optional)
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number
        required: true
        schema:
          type: string
          format: string
      - name: category_code
        in: path
        description: Category Code number
        required: true
        schema:
          type: string
          format: string
      - name: status_code
        in: path
        description: Status Code number
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: D_subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DsubscriptionCompatDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      operationId: deleteDSubscriptionCompatByUwnetidBySubscriptionCodeByCategoryCodeByStatusCode
      x-operation-id-source: derived
components:
  schemas:
    GenericError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              format: int32
            message:
              type: string
    DsubscriptionCompatPutPostPayload:
      type: object
      properties:
        d_subscription.compat:
          type: array
          description: Array of d_subscription objects.  See reference docs for exact attributes.
          items:
            type: object
            properties:
              uwnetid:
                type: string
                description: UW Network identifier
              subscription_code:
                type: string
                description: Subscription code
              category_code:
                type: string
                description: Category code
              permit:
                type: string
                description: Permit flag
              deny:
                type: string
                description: Deny flag
              status_code:
                type: string
                description: Status code
    DsubscriptionCompatGetResult:
      type: object
      properties:
        d_subscription.compat:
          type: array
          description: Array of d_subscription objects (typically contains only one)
          items:
            type: object
            properties:
              uwnetid:
                type: string
                description: UW Network identifier
              subscription_code:
                type: string
                description: Subscription code
              subscription_name:
                type: string
                description: Subscription name
              subscription_data:
                type: string
                description: Subscription data
              category_code:
                type: string
                description: Category code
              permit:
                type: string
                description: Permit flag
              deny:
                type: string
                description: Deny flag
              expiration:
                type: string
                description: Expiration date
              notifyid:
                type: string
                description: Notification identifier
              status_code:
                type: string
                description: Status code
              result:
                type: string
                description: Result of evaluated rule
              post_url:
                type: string
                description: URL to post updates
        totalcount:
          type: string
          description: Number of d_subscription objects returned
      description: Note that the d_subscription object described here documents all possible attributes.  Not all attributes will be returned for all records.
    DsubscriptionCompatDeletePutPostResult:
      type: object
      properties:
        d_subscription.compat:
          type: array
          description: Response to DELETE/PUT/POST
          items:
            type: object
            properties:
              count:
                type: string
                description: Number of records affected
              message:
                type: string
                description: Result of operation (usually 'record inserted' or 'record updated')
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V2 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv2/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv2/irwsv2.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v2.yaml
