# x-archived-from: university-of-washington-identity-registry-web-service-v3-openapi.yml
# x-archived-on: 2026-09-16
openapi: 3.0.1
info:
  title: Identity Registration Web Service REST API V3
  description: 'This is the specification for Identity Registration Web Service REST API V3. See the supplementary API documentation at https://wiki.cac.washington.edu/x/jI8qBQ for header/querystring paramemters, payload attributes, function descriptions and example code not included here. Note: The -type and -pretty querystring parameters are described here for GET requests as they make testing much easier.


    '
  version: '3'
servers:
- url: https://mango.u.washington.edu:646/registry/v3
externalDocs:
  description: UW-IT Identity Registration Web Service (IRWS) V3 API documentation
  url: https://iam-tools.u.washington.edu/apis/irwsv3/
x-operator: institution
x-provenance:
  method: searched
  source: https://iam-tools.u.washington.edu/apis/irwsv3/irwsv3.yaml
  generated: '2026-08-30'
  note: Fetched verbatim from the UW-IT IAM tools API documentation host on 2026-08-30 (HTTP 200). servers[] resolve to University of Washington registrable domains (uw.edu / washington.edu), so the operator is the institution, not a vendor. Only externalDocs, x-operator and x-provenance were added; info and paths are as published.
  pristine_copy: openapi/_original/university-of-washington-identity-registry-web-service-v3.yaml
paths:
  /account:
    get:
      tags:
      - account
      summary: Search for account records
      description: The account resource allows you to search for records based on certain criteria.  Search parameters must be specified as a querystring.  See supplemental documentation for available search parameters and rules.
      parameters:
      - name: uwnetid
        in: query
        description: UW Network identifier (e.g., uwnetid=jsimpson)
        schema:
          type: string
          format: string
      - name: validid
        in: query
        description: Entity identifier (e.g., validid=uwhr=123456789)
        schema:
          type: string
          format: string
      - name: netid_code
        in: query
        description: Netid code
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: An array of search results. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSearchResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /account/{uwnetid}/{netid_code}:
    get:
      tags:
      - account
      summary: Query account record
      description: The account resource allows you to retrieve an account record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: netid_code
        in: path
        description: Netid code (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Account record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    put:
      tags:
      - account
      summary: Create account record
      description: The account resource allows you to create a new account record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: netid_code
        in: path
        description: Netid code
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AccountPutPostPayload'
        required: true
      responses:
        '200':
          description: Account resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
    post:
      tags:
      - account
      summary: Update account record
      description: The account resource allows you to update an existing account record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: netid_code
        in: path
        description: Netid code
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AccountPutPostPayload'
        required: true
      responses:
        '200':
          description: Account resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
    delete:
      tags:
      - account
      summary: Delete account record
      description: The account resource allows you to delete an existing account record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: netid_code
        in: path
        description: Netid code
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Account resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /account.canonical/{uwnetid}:
    get:
      tags:
      - account.canonical
      summary: Query account contents
      description: The account.canonical resource allows you to retrieve data about an account.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Canonical account record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCanonicalGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /account.gps/{uwnetid}/:
    get:
      tags:
      - account.gps
      summary: Query GPS record
      description: The account.gps resource allows you to retrieve affiliation group information.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: -canonical
        in: query
        description: Request information on all identity groups, not just ones entitled
        schema:
          type: boolean
          default: false
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: GPS affiliation group query results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountGpsGetResult'
        '301':
          description: Moved Permanently
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /account.history/{uwnetid}/{netid_code}:
    get:
      tags:
      - account.history
      summary: Query historical account records
      description: The account.history resource allows you to retrieve historical account records.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: netid_code
        in: path
        description: Netid code (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Account history record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountHistoryGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /account.subscription/{uwnetid}/{subscription_code}:
    get:
      tags:
      - account.subscription
      summary: Query subscription records
      description: The account.subscription resource allows you to retrieve subscription records.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Subscription record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    put:
      tags:
      - account.subscription
      summary: Create subscription record
      description: The account.subscription resource allows you to create a new subscription record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AccountSubscriptionPutPostPayload'
        required: true
      responses:
        '200':
          description: Subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
    post:
      tags:
      - account.subscription
      summary: Update subscription record
      description: The account.subscription resource allows you to update an existing subscription record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code Number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AccountSubscriptionPutPostPayload'
        required: true
      responses:
        '200':
          description: Subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
    delete:
      tags:
      - account.subscription
      summary: Delete subscription record
      description: The account.subscription resource allows you to delete an existing subscription record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code Number
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /account.subscription.history/{uwnetid}/{subscription_code}:
    get:
      tags:
      - account.subscription.history
      summary: Query historical subscription records
      description: The account.subscription.history resource allows you to retrieve historical subscription records.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code Number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Subscription history record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionHistoryGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /account.mail/{uwnetid}/{subscription_code}:
    get:
      tags:
      - account.mail
      summary: Query mail forwarding records
      description: The account.mail resource allows you to retrieve mail forwarding records for an account.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number (105|106|107)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Mail forwarding record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMailGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    post:
      tags:
      - account.mail
      summary: Set mail forwarding records
      description: The account.mail resource allows you to set the mail forwarding records for an account.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code Number (105|106|107)
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AccountMailPostPayload'
        required: true
      responses:
        '200':
          description: Subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMailPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
    delete:
      tags:
      - account.mail
      summary: Delete mail forwarding records
      description: The account.subscription resource allows you to delete existing mail forwarding records for an account.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code Number (105|106|107)
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountMailDeleteResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /account.subscription.pac/{uwnetid}/{subscription_code}:
    post:
      tags:
      - account.subscription.pac
      summary: Generate subscription record PAC
      description: The account.subscription.pac resource allows you to generate a PAC for a subscription record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Message confirming PAC creation. Includes PAC and expiration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionPacPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    delete:
      tags:
      - account.subscription.pac
      summary: Delete subscription record PAC
      description: The account.subscription.pac resource allows you to remove a PAC from a subscription record.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code Number
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Subscription resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionPacDeleteResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /account.subscription.rule/{uwnetid}/{subscription_code}/{instance}:
    get:
      tags:
      - account.subscription.rule
      summary: Query subscription rule records
      description: The account.subscription.rule resource allows you to retrieve subscription rule records applicable to the uwnetid.
      parameters:
      - name: uwnetid
        in: path
        description: UW Network identifier (optional)
        required: true
        schema:
          type: string
          format: string
      - name: subscription_code
        in: path
        description: Subscription Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Subscription rule record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptionRuleGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /entity:
    get:
      tags:
      - entity
      summary: Search for entity records
      description: The entity resource allows you to search for records based on certain criteria.  Search parameters must be specified as a querystring.  See supplemental documentation for available search parameters and rules.
      parameters:
      - name: validid
        in: query
        description: Entity identifier (e.g., validid=uwhr=123456789)
        schema:
          type: string
          format: string
      - name: studentid
        in: query
        description: Student number
        schema:
          type: string
          format: string
      - name: lname
        in: query
        description: Primary last name
        schema:
          type: string
          format: string
      - name: regid
        in: query
        description: Registry identifier
        schema:
          type: string
          format: string
      - name: uwnetid
        in: query
        description: UW Network identifier (e.g., uwnetid=jsimpson)
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: An array of search results. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntitySearchResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /entity/{validid}/{source_code}:
    get:
      tags:
      - entity
      summary: Query entity record
      description: The entity resource allows you to retrieve an entity record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Entity record. Schema contains list of the basic possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    put:
      tags:
      - entity
      summary: Create entity record
      description: The entity resource allows you to create a new source record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityPutPostPayload'
        required: true
      responses:
        '200':
          description: Entity resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
    post:
      tags:
      - entity
      summary: Update entity record
      description: The entity resource allows you to update an existing source record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityPutPostPayload'
        required: true
      responses:
        '200':
          description: Entity resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
    delete:
      tags:
      - entity
      summary: Delete entity record
      description: The entity resource allows you to delete an existing source record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Entity resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /entity.canonical/{validid}:
    get:
      tags:
      - entity.canonical
      summary: Query entity contents
      description: The entity.canonical resource allows you to retrieve data about an entity.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Canonical entity record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCanonicalGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /entity.category/{validid}/{category_code}/{source_code}/{instance}:
    get:
      tags:
      - entity.category
      summary: Query category records
      description: The entity.category resource allows you to retrieve category records.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: category_code
        in: path
        description: Category Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Category record. Schema contains list of all possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCategoryGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    put:
      tags:
      - entity.category
      summary: Create category record
      description: The entity.category resource allows you to create a new category record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: category_code
        in: path
        description: Category Code number
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityCategoryPutPostPayload'
        required: true
      responses:
        '200':
          description: Entity.category resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCategoryDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
    post:
      tags:
      - entity.category
      summary: Update category record
      description: The entity.category resource allows you to update an existing category record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: category_code
        in: path
        description: Category Code number
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityCategoryPutPostPayload'
        required: true
      responses:
        '200':
          description: Entity.category resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCategoryDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
    delete:
      tags:
      - entity.category
      summary: Delete category record
      description: The entity.category resource allows you to delete an existing category record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: category_code
        in: path
        description: Category Code number
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number
        required: true
        schema:
          type: string
          format: string
      - name: instance
        in: path
        description: Instance number
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Entity.category resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCategoryDeletePutPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /entity.history/{validid}/{source_code}:
    get:
      tags:
      - entity.history
      summary: Query historical entity records
      description: The entity.history resource allows you to retrieve historical entity records.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number  (optional)
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Entity history record. Schema contains list of the basic possible properties but they may not all be present.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityHistoryGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /entity.join/{regid}/{to_regid}:
    post:
      tags:
      - entity.join
      summary: Join entities
      description: The entity.join resource allows you to join entities together.
      parameters:
      - name: regid
        in: path
        description: Registry identifier
        required: true
        schema:
          type: string
          format: string
      - name: to_regid
        in: path
        description: Registry identifier to join to
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Message confirming entity join.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityJoinPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /entity.name/{validid}:
    get:
      tags:
      - entity.name
      summary: Query entity profile names (deprecated)
      description: The entity.name resource is deprecated.  See entity.profile.name.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Name create/update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityProfileNameGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    post:
      tags:
      - entity.name
      summary: Update entity profile names (deprecated)
      description: The entity.name resource is deprecated.  See entity.profile.name.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityProfileNamePostPayload'
        required: true
      responses:
        '200':
          description: Name resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityProfileNamePostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
  /entity.pac/{validid}/{source_code}:
    post:
      tags:
      - entity.pac
      summary: Generate validation record PAC
      description: The entity.pac resource allows you to generate a PAC for a validation record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Message confirming PAC creation. Includes PAC and expiration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityPacPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    delete:
      tags:
      - entity.pac
      summary: Delete validation record PAC
      description: The entity.pac resource allows you to remove a PAC from a validation record.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: source_code
        in: path
        description: Source Code number
        required: true
        schema:
          type: string
          format: string
      responses:
        '200':
          description: Entity.pac resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityPacDeleteResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /entity.pds/{validid}/:
    get:
      tags:
      - entity.pds
      summary: Query PDS record
      description: The entity.pds resource allows you to retrieve person directory information.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: PDS entry query results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityPdsGetResult'
        '301':
          description: Moved Permanently
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /entity.profile.name/{validid}:
    get:
      tags:
      - entity.profile.name
      summary: Query entity profile names
      description: The entity.profile.name resource allows you to retrieve the various names associated with a person.  See supplemental documentation for a description of each name collection and their reason for being.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Name create/update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityProfileNameGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    post:
      tags:
      - entity.profile.name
      summary: Update entity profile names
      description: The entity.profile.name resource allows you to change a subset of the name collections associated with a person.  See supplemental documentation for which collections can be changed.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityProfileNamePostPayload'
        required: true
      responses:
        '200':
          description: Name resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityProfileNamePostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
  /entity.profile.pronoun/{validid}:
    get:
      tags:
      - entity.profile.pronoun
      summary: Query entity profile pronoun
      description: The entity.profile.pronoun resource allows you to retrieve the pronoun associated with a person.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Name create/update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityProfilePronounGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    post:
      tags:
      - entity.profile.pronoun
      summary: Update entity profile pronoun
      description: The entity.profile.pronoun resource allows you to change the pronoun associated with a person.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/EntityProfilePronounPostPayload'
        required: true
      responses:
        '200':
          description: Name resource operation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityProfilePronounPostResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
      x-codegen-request-body-name: payload
  /entity.profile.recovery/{validid}:
    get:
      tags:
      - entity.profile.recovery
      summary: Query entity profile recovery
      description: The entity.profile.recovery resource allows you to retrieve the account recovery settings associated with a person.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
        required: true
        schema:
          type: string
          format: string
      - name: -type
        in: query
        description: Data return type
        schema:
          type: string
          format: string
          default: json
      - name: -pretty
        in: query
        description: Request pretty-printed data for humans
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Name create/update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityProfileRecoveryGetResult'
        '400':
          description: Invalid identifier type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Identifier did not match any records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '405':
          description: Method not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '406':
          description: Content type not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    post:
      tags:
      - entity.profile.recovery
      summary: Update entity profile recovery
      description: The entity.profile.recovery resource allows you to change the account recovery settings associated with a person.
      parameters:
      - name: validid
        in: path
        description: Entity identifier
[...]
